* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #7d8388;
}

.container {
    position: absolute;
    text-align: center;
    margin-top: 23px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin: auto;
}

input {
    background-color: #CCD6DD;
    border-radius: 12px;
    border: 3px solid #252525;
    font-size: 4rem;
    height: 100px;
    width: 456px;
    color: #252525;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #CCD6DD;
    width: 102px;
    height: 90px;
    margin: 6px;
}

button:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s;
}

.calculator {
    border: 3px solid #252525;
    background-color: rgb(200, 200, 200);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 8px;
    border-radius: 21px;
    display: inline-block;
}

h1 {
    font-size: 36px;
    margin-top: 2rem;
    font-weight: 100;
    color: #252525;
    letter-spacing: 0.8rem;
    text-align: center;
}